xdebug.remote_enable=1;
xdebug.remote_autostart=0;
xdebug.remote_connect_back=1;
xdebug.remote_host=10.0.2.2;
xdebug.remote_port=9005;
xdebug.idekey=start-xdebug;
xdebug.remote_log=/tmp/xdebug.log

xdebug.collect_params=1;
xdebug.collect_return=1;
xdebug.collect_vars=1;
xdebug.show_exception_trace=0;
xdebug.show_local_vars=1;

xdebug.profiler_enable_trigger=1;
xdebug.profiler_append=0;
xdebug.profiler_output_dir=/var/log/php/profiler

xdebug.auto_trace=0;
xdebug.trace_enable_trigger=1;
xdebug.collect_assignments=1;
xdebug.show_mem_delta=1;
xdebug.collect_includes=1;
xdebug.trace_output_dir=/var/log/php/trace
xdebug.trace_format=1;
xdebug.trace_options=0;
xdebug.trace_output_name=trace.%c;

xdebug.max_nesting_level=300;
